@model WatchShopWebsite.Models.EF.NhaSanXuat

@{
    ViewBag.Title = "Thông Tin Nhà Sản Xuất";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2 class="text-center">Chi Tiết Thông Tin Nhà Sản Xuất</h2>
            <hr />
            @Html.HiddenFor(model => model.MaNSX)

            <div class="form-group">
                <label class="form-label fw-bold">Tên Nhà Sản Xuất</label>
                <div class="col-md-12">
                    <input type="text" class="form-control bg-white" id="TenNSX" name="TenNSX" readonly value="@Model.TenNSX" />
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Địa Chỉ</label>
                <div class="col-md-12">
                    <input type="text" class="form-control bg-white" id="DiaChi" name="DiaChi" readonly value="@Model.DiaChi" />
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Email</label>
                <div class="col-md-12">
                    <input type="text" class="form-control bg-white" id="Email" name="Email" readonly value="@Model.Email" />
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Số Điện Thoại</label>
                <div class="col-md-12">
                    <input type="text" class="form-control bg-white" id="SDT" name="SDT" readonly value="@Model.SDT" />
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Trạng Thái</label>
                <div class="col-md-12">
                    @{
                        var getStatus = Model.TrangThai == 0 ? "Ẩn" : "Hiển thị";
                    }
                    <input type="text" class="form-control bg-white" id="TrangThai" name="TrangThai" readonly value="@getStatus" />
                </div>
            </div>

            <div class="form-group text-center mt-3">
                @Html.ActionLink("Sửa", "Edit", new { id = Model.MaNSX }, new { @class = "btn btn-sm btn-warning" })
                @Html.ActionLink("Quay Lại", "Index", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary" })
            </div>
        </div>
    </div>
}