@model WatchShopWebsite.Models.EF.NhaSanXuat

@{
    ViewBag.Title = "Sửa Thông Tin Nhà Sản Xuất";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Producers", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2 class="text-center">Chỉnh Sửa Thông Tin Nhà Sản Xuất</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaNSX)

            <div class="form-group">
                <label class="form-label fw-bold">Tên Nhà Sản Xuất</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TenNSX, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNSX, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Địa Chỉ</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Email</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Số Điện Thoại</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                <label class="form-label fw-bold">Trạng Thái</label>
                <div class="col-md-12">
                    <select class="form-control" id="TrangThai" name="TrangThai">
                        @{
                            if (Model.TrangThai == 0)
                            {
                                <option value="0" selected>Ẩn</option>
                                <option value="1">Hiển thị</option>
                            }
                            else
                            {
                                <option value="0">Ẩn</option>
                                <option value="1" selected>Hiển thị</option>
                            }
                        }
                    </select>
                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group text-center mt-3">
                <input type="submit" value="Cập Nhật" class="btn btn-sm btn-warning" />
                <a class="btn btn-sm btn-secondary" onclick="window.history.go(-1); return false;">Quay Lại</a>
            </div>
        </div>
    </div>
}