@model IEnumerable<WatchShopWebsite.Models.DAO.CartDAO>

@{
    ViewBag.Title = "Giỏ Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        getTotal();

        $("#removecart").click(function () {
            var model = {};
            //lấy id sản phẩm
            model.Id = $("#productid").val();
            $.ajax({
                type: "POST",
                url: "/Cart/Remove/",
                data:  JSON.stringify(model) ,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    $('#CartCount').text(@Session["count"] - 1);
                    $("#product-" + model.Id).remove();
                    getTotal();
                },
                error: function () {
                    alert("Lỗi trong khi xóa sản phẩm trong giỏ hàng!");
                }
            });
            return false;
        });
    });

    function formatNumber(nStr) {
        var groupSeperate = ',';
        var x = formatString(nStr);
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x)) {
            x = x.replace(rgx, '$1' + groupSeperate + '$2');
        }
        return x;
    }

    function formatString(money) {
        var x = '';
        var arr = money.toString().split(',');
        arr.forEach((str) => {
            x += str;
        });
        return x;
    }

    // tính tổng tiền = giá tiền (/1sp) * số lượng sp
    // nếu có nhiều sp thì cộng dồn tổng tiền của mỗi sp
    function getTotal() {
        var trs = $('#tb-cart tbody').find('tr');
        var total = 0;
        $.each(trs, function (i, e) {
            var tds = $(e).find('td');
            var val = $(tds[tds.length - 2]).children(0).text();
            total += parseInt(formatString(val));
        });

        if (isNaN(total)) {
            $('#total').text("0 VNĐ");
        } else {
            $('#total').text(formatNumber(total) + " VNĐ");
        }
    }
</script>

<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="card table-responsive">

                    <table class="table table-borderless table-shopping-cart" id="tb-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Sản phẩm</th>
                                <th scope="col" width="120">Số lượng</th>
                                <th scope="col" width="120">Giá (VNĐ)</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="product-@item.SanPham.MaSP">
                                        <td>
                                            <figure class="itemside">
                                                <div class="aside">
                                                    @{
                                                        var getUrlImg = item.SanPham.HinhAnh.ToString().Replace("~", "../../..");
                                                        <img src="@getUrlImg" class="img-fluid img-sm" alt="@item.SanPham.TenSP" />
                                                    }
                                                    <input type="hidden" value="@item.SanPham.MaSP" id="productid" />
                                                </div>
                                                <figcaption class="info">
                                                    <a href="#" class="title text-dark">@item.SanPham.TenSP</a>
                                                    <p class="text-muted small">
                                                        Danh mục: @item.SanPham.DanhMuc.TenDM, <br> Thương hiệu: @item.SanPham.ThuongHieu.TenTH
                                                    </p>
                                                </figcaption>
                                            </figure>
                                        </td>
                                        <td>@item.Quantity</td>
                                        <td>
                                            <div class="price-wrap">
                                                <var class="price">@String.Format("{0:0,0}", item.Quantity * item.SanPham.Gia)</var>
                                                <small class="text-muted"> @String.Format("{0:0,0}", item.SanPham.Gia)/ chiếc </small>
                                            </div> <!-- price-wrap .// -->
                                        </td>
                                        <td class="text-right">
                                            <a data-original-title="Lưu vào danh sách yêu thích" title="" href="" class="btn btn-light" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
                                            <a href="" class="btn btn-light" id="removecart"> Xóa</a>
                                        </td>
                                    </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td colspan="4" class="text-center">Không có sản phẩm trong giỏ hàng</td></tr>
                                }
                        </tbody>
                    </table>

                    <div class="card-body border-top">
                        @if (Session["IdCustomer"] != null)
                        {
                            if (Session["cart"] != null)
                            {
                                <a href="/Order" class="btn btn-primary float-md-right"> Mua hàng <i class="fa fa-chevron-right"></i> </a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-primary float-md-right"> Mua hàng <i class="fa fa-chevron-right"></i> </a>
                            }
                        }
                        else
                        {
                            <a href="/Customer/Login" class="btn btn-primary float-md-right"> Mua hàng <i class="fa fa-chevron-right"></i> </a>
                        }
                        <a href="/Home" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Tiếp tục mua sắm </a>
                    </div>
                </div> <!-- card.// -->

                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Giao hàng miễn phí trong vòng 4 đến 5 ngày</p>
                </div>
            </main> <!-- col.// -->

            <aside class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label>Bạn có phiếu giảm giá?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Mã giảm giá">
                                    <span class="input-group-append">
                                        <button class="btn btn-primary">Áp dụng</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Tổng tiền:</dt>
                            <dd class="text-right" id="total"></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="~/Content/images/misc/payments.png" height="26">
                        </p>
                    </div> <!-- card-body.// -->
                </div>  <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>