@model WatchShopWebsite.Models.EF.SanPham

@{
    ViewBag.Title = "Thêm Đồng Hồ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    <div class="shadow container mt-3 py-3">
        <div class="form-horizontal">
            <h2 class="text-center">Thêm Đồng Hồ Mới</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <label class="form-label fw-bold">Tên</label>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mt-3">
                <div class="form-group mb-3 col-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="form-label fw-bold">Thương Hiệu</label>
                    <div class="col-md-12">
                        @Html.DropDownList("MaTH", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3 col-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="form-label fw-bold">Danh Mục</label>
                    <div class="col-md-12">
                        @Html.DropDownList("MaDM", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaDM, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3 col-12 col-sm-12 col-md-4 col-lg-4">
                    <label class="form-label fw-bold">Nhà Sản Xuất</label>
                    <div class="col-md-12">
                        @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="form-group mb-3 col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="form-label fw-bold">Giá Tiền</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group mb-3 col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="form-label fw-bold">Số Lượng</label>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @class = "form-control", @min = 0 } })
                        @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group mb-3 col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="form-label fw-bold">Hình Ảnh</label>
                    <div class="col-md-12">
                        <img src="@Url.Content(Model.HinhAnh)" class="img-fluid w-25" id="previewImg" />
                        @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
                    </div>
                    <input type="file" class="mt-2" name="ImageUpload" onchange="ShowImagePreview(this, document.getElementById('previewImg'))" required />
                </div>

                <div class="form-group mb-3 col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="form-label fw-bold">Mô Tả</label>
                    <div class="col-md-12">
                        <textarea id="MoTa" name="MoTa" class="form-control" rows="3"></textarea>
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="form-label fw-bold">Loại Đồng Hồ</label>
                    <div class="col-md-12">
                        <select id="LoaiSP" name="LoaiSP" class="form-control">
                            <option value="0">Loại thường</option>
                            <option value="1">Loại đặc biệt</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.LoaiSP, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-12 col-sm-12 col-md-6 col-lg-6">
                    <label class="form-label fw-bold">Trạng Thái</label>
                    <div class="col-md-12">
                        <select id="TrangThai" name="TrangThai" class="form-control">
                            <option value="1">Hiển thị</option>
                            <option value="0">Ẩn</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group text-center mt-3">
                <input type="submit" value="Tạo" class="btn btn-sm btn-success" />
                <a class="btn btn-sm btn-secondary" onclick="window.history.go(-1); return false;">Quay Lại</a>
            </div>
        </div>
    </div>
}