@{
    ViewBag.Title = "Hồ Sơ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <article class="card my-4">
        <div class="card-body">
            <figure class="icontext">
                <div class="icon">
                    <img class="rounded-circle img-sm border" src="@ViewBag.GetAvatar">
                </div>
                <div class="text">
                    <strong> @Session["Username"] </strong> <br>
                    <p class="mb-2"> @ViewBag.GetEmail  </p>
                    <a href="/Customer/EditCustomer/@Session["IdCustomer"]" class="btn btn-light btn-sm">Chỉnh sửa</a>
                </div>
            </figure>
            <hr>

            <article class="card-group card-stat">
                <figure class="card bg">
                    <div class="p-3">
                        <h4 class="title">@ViewBag.GetOrdersCount</h4>
                        <span>Đơn hàng</span>
                    </div>
                </figure>
                <figure class="card bg">
                    <div class="p-3">
                        <h4 class="title">@ViewBag.GetWishlistsCount</h4>
                        <span>Sản phẩm yêu thích</span>
                    </div>
                </figure>
                <figure class="card bg">
                    <div class="p-3">
                        <h4 class="title">@ViewBag.Processing</h4>
                        <span>Đơn đang xử lý</span>
                    </div>
                </figure>
                <figure class="card bg">
                    <div class="p-3">
                        <h4 class="title">@ViewBag.PendingDelivery</h4>
                        <span>Đơn chờ giao hàng</span>
                    </div>
                </figure>
                <figure class="card bg">
                    <div class="p-3">
                        <h4 class="title">@ViewBag.Delivered</h4>
                        <span>Đơn đã giao</span>
                    </div>
                </figure>
            </article>

        </div> <!-- card-body .// -->
    </article> <!-- card.// -->
</main>