@model IEnumerable<WatchShopWebsite.Models.DAO.OrdersDAO>

@{
    ViewBag.Title = "Danh Sách Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @if (Model.Count() <= 0)
    {
        <div class="card">
            <div class="card-body text-center">
                <h4>Bạn chưa có đơn hàng nào!</h4>
                <a href="/Home" class="btn btn-light"> Mua sắm </a>
            </div>
        </div>
    }
    else
    {
        foreach (var item in Model.OrderByDescending(t => t.OrderDate))
        {
            <article class="card my-4">
                <header class="card-header">
                    <a href="#" class="float-right"> <i class="fa fa-print"></i> In</a>
                    <strong class="d-inline-block mr-3">Mã đơn hàng: @item.OrderID</strong>
                    <span>
                        Thời gian đặt hàng:
                        @{
                            var getTime = item.OrderDate.ToString("dd/MM/yyyy");
                        }
                        @getTime
                    </span>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="text-muted">Chuyển tới</h6>
                            <p>
                                Người nhận:  @item.Name<br>
                                Số điện thoại:  @item.PhoneNumber<br>
                                Địa chỉ: @item.Address
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-muted">Thanh toán</h6>
                            <span class="text-success">
                                Hình thức thanh toán: Tiền mặt
                            </span>
                            <p>
                                <span class="b">Tổng tiền: @String.Format("{0:0,0}", item.Total)  VNĐ </span>
                            </p>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @{
                                var orderDetails = ViewBag.OrderDetails as List<WatchShopWebsite.Models.EF.CTDonHang>;

                                foreach (var od in orderDetails.Where(t => t.MaDonHang == item.OrderID))
                                {
                                    <tr>
                                        <td width="65">
                                            @{
                                                var getUrlImg = od.HinhAnh.ToString().Replace("~", "../../..");
                                                <img src="@getUrlImg" class="img-xs border img-fluid" alt="@od.SanPham.TenSP" />
                                            }
                                        </td>
                                        <td>
                                            <p class="title mb-0">@od.SanPham.TenSP</p>
                                            <var class="price text-muted">
                                                @String.Format("{0:0,0}", od.Gia * od.SoLuongMua) VNĐ
                                                <small class="text-muted">/ @od.SoLuongMua chiếc</small>
                                            </var>
                                        </td>
                                        <td width="250">
                                            <h6>
                                                @{
                                                    var getOStatus = item.OrderStatus == 0 ? "Đang chờ xử lý"
                                                        : item.OrderStatus == 1 ? "Đang giao hàng"
                                                        : "Giao hàng thành công";
                                                }
                                                @getOStatus
                                            </h6>
                                            <div class="dropdown d-inline-block">
                                                @if (item.OrderStatus == 0)
                                                {
                                                    <a href="#" class="btn btn-outline-secondary">Hủy đơn hàng</a>
                                                }
                                                else if (item.OrderStatus == 2)
                                                {
                                                    <div class="dropdown d-inline-block">
                                                        <a href="" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thao tác</a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="" data-evaluateProId="@od.MaSP" data-evaluateOrderId="@od.MaDonHang" data-toggle="modal" data-target="#evaluateModal" class="dropdown-item open-evaluate-modal">
                                                                Đánh giá sản phẩm
                                                            </a>
                                                            <a href="" class="dropdown-item">Hoàn trả</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div> <!-- table-responsive .end// -->
            </article>
        }
    }
</main>

<!--Modal đánh giá sản phẩm-->
<div class="modal fade" id="evaluateModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Đánh giá sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" id="form-evaluate">
                    @Html.AntiForgeryToken()

                    <div class="form-group my-3">
                        <input type="hidden" id="MaKH" name="MaKH" value="@Session["IdCustomer"]" />
                        <input type="hidden" id="ThoiGianDG" name="ThoiGianDG" value="@DateTime.Now" />
                        <input type="hidden" id="LuotThich" name="LuotThich" value="0" />
                    </div>

                    <div class="form-group mb-3">
                        <label>Lời bình</label>
                        <textarea class="form-control" id="LoiDG" name="LoiDG" rows="5"></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <p class="mb-1">Đánh giá</p>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" name="Diem" value="1">
                            <span class="custom-control-label"> 1 </span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" name="Diem" value="2">
                            <span class="custom-control-label"> 2 </span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" name="Diem" value="3">
                            <span class="custom-control-label"> 3 </span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" name="Diem" value="4">
                            <span class="custom-control-label"> 4 </span>
                        </label>
                        <label class="custom-control custom-radio custom-control-inline">
                            <input class="custom-control-input" type="radio" name="Diem" value="5">
                            <span class="custom-control-label"> 5 </span>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-warning" id="send-evaluate">Gửi</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/js/create-evaluate.js"></script>