@model IEnumerable<WatchShopWebsite.Models.DAO.OrdersDAO>

@{
    ViewBag.Title = "Danh Sách Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<main>
    @if (Model.Count() <= 0)
    {
        <div class="card">
            <div class="card-body text-center">
                <h4>Bạn chưa có đơn hàng nào!</h4>
                <a href="/Home" class="btn btn-light"> Mua sắm </a>
            </div>
        </div>
    }
    else
    {
        foreach (var item in Model.OrderByDescending(t => t.OrderDate))
        {
            <article class="card my-4">
                <header class="card-header">
                    <a href="#" class="float-right"> <i class="fa fa-print"></i> In</a>
                    <strong class="d-inline-block mr-3">Mã đơn hàng: @item.OrderID</strong>
                    <span>
                        Thời gian đặt hàng:
                        @{
                            var getTime = item.OrderDate.ToString("dd/MM/yyyy");
                        }
                        @getTime
                    </span>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="text-muted">Chuyển tới</h6>
                            <p>
                                Người nhận:  @item.Name<br>
                                Số điện thoại:  @item.PhoneNumber<br>
                                Địa chỉ: @item.Address
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-muted">Thanh toán</h6>
                            <span class="text-success">
                                Hình thức thanh toán: Tiền mặt
                            </span>
                            <p>
                                <span class="b">Tổng tiền: @String.Format("{0:0,0}", item.Total)  VNĐ </span>
                            </p>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @{
                                var orderDetails = ViewBag.OrderDetails as List<WatchShopWebsite.Models.EF.CTDonHang>;

                                foreach (var od in orderDetails.Where(t => t.MaDonHang == item.OrderID))
                                {
                                    <tr>
                                        <td width="65">
                                            @{
                                                var getUrlImg = od.HinhAnh.ToString().Replace("~", "../../..");
                                                <img src="@getUrlImg" class="img-xs border img-fluid" alt="@od.SanPham.TenSP" />
                                            }
                                        </td>
                                        <td>
                                            <p class="title mb-0">@od.SanPham.TenSP</p>
                                            <var class="price text-muted">
                                                @String.Format("{0:0,0}", od.Gia * od.SoLuongMua) VNĐ
                                                <small class="text-muted">/ @od.SoLuongMua chiếc</small>
                                            </var>
                                        </td>
                                        <td width="250">
                                            <h6>
                                                @{
                                                    var getOStatus = item.OrderStatus == 0 ? "Đang chờ xử lý"
                                                        : item.OrderStatus == 1 ? "Đang giao hàng"
                                                        : "Giao hàng thành công";
                                                }
                                                @getOStatus
                                            </h6>
                                            <div class="dropdown d-inline-block">
                                                @if (item.OrderStatus == 0)
                                                {
                                                    <a href="#" class="btn btn-outline-secondary">Hủy đơn hàng</a>
                                                }
                                                else if (item.OrderStatus == 2)
                                                {
                                                    <a href="#" class="btn btn-outline-secondary">Hoàn trả</a>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div> <!-- table-responsive .end// -->
            </article>
        }
    }
</main>