@model IEnumerable<WatchShopWebsite.Models.DAO.OrdersDAO>

@{
    ViewBag.Title = "Danh Sách Đơn Hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";


}

<main>
    @if (Model == null)
    {
        <p class="text-center">Bạn chưa có đơn hàng nào!</p>
        <a href="/Home" class="btn btn-light text-center"> Mua sắm </a>
    }
    else
    {
        foreach (var item in Model)
        {
            <article class="card my-4">
                <header class="card-header">
                    <a href="#" class="float-right"> <i class="fa fa-print"></i> In</a>
                    <strong class="d-inline-block mr-3">Mã đơn hàng: @item.OrderID</strong>
                    <span>
                        Thời gian đặt hàng:
                        @{
                            var getTime = item.OrderDate.ToString("dd/MM/yyyy");
                        }
                        @getTime
                    </span>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h6 class="text-muted">Chuyển tới</h6>
                            <p>
                                Người nhận:  @item.Name<br>
                                Số điện thoại:  @item.PhoneNumber<br>
                                Địa chỉ: @item.Address
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h6 class="text-muted">Thanh toán</h6>
                            <span class="text-success">
                                Hình thức thanh toán: Tiền mặt
                            </span>
                            <p>
                                <span class="b">Tổng tiền: @String.Format("{0:0,0}", item.Total)  VNĐ </span>
                            </p>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var od in item.OrderDetails.DonHang.CTDonHangs.Where(t => t.MaDonHang == item.OrderID))
                            {
                                <tr>
                                    <td width="65">
                                        @{
                                            var getUrlImg = od.HinhAnh.ToString().Replace("~", "../../..");
                                            <img src="@getUrlImg" class="img-xs border img-fluid" alt="@od.SanPham.TenSP" />
                                        }
                                    </td>
                                    <td>
                                        <p class="title mb-0">@od.SanPham.TenSP</p>
                                        <var class="price text-muted">
                                            @String.Format("{0:0,0}", od.Gia * od.SoLuongMua) VNĐ
                                        </var>
                                    </td>
                                    <td width="250">
                                        <h6>
                                            @{
                                                var getOStatus = item.OrderStatus == 0 ? "Đang chờ xử lý"
                                                    : item.OrderStatus == 1 ? "Đang giao hàng"
                                                    : "Đã giao hàng";
                                            }
                                            @getOStatus
                                        </h6>
                                        <div class="dropdown d-inline-block">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Thao tác</a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Hoàn trả</a>
                                                <a href="#" class="dropdown-item">Hủy đơn hàng</a>
                                            </div>
                                        </div> <!-- dropdown.// -->
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!-- table-responsive .end// -->
            </article>
        }
    }
</main>