@{
    ViewBag.Title = "Sản Phẩm Yêu Thích";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="my-4">
    <article class="card">
        <div class="card-body">

            <div class="row">
                @if (ViewBag.GetCount <= 0)
                {
                    <h5 class="text-center">Bạn chưa có sản phẩm yêu thích nào!</h5>
                }
                else
                {
                    foreach (var item in ViewBag.GetWishlistByCustomer)
                    {
                        <div class="col-md-6" id="prod-@item.SanPham.MaSP">
                            <figure class="itemside mb-4">
                                <div class="aside">
                                    <a href="/Product/Details/@item.SanPham.MaSP">
                                        @{
                                            var getUrlImg = item.SanPham.HinhAnh.ToString().Replace("~", "../../..");
                                            <img src="@getUrlImg" class="border img-md img-fluid" alt="@item.SanPham.TenSP" />
                                        }
                                    </a>
                                </div>
                                <figcaption class="info">
                                    <a href="/Product/Details/@item.SanPham.MaSP" class="title">@item.SanPham.TenSP</a>
                                    <p class="price mb-2">@String.Format("{0:0,0}", item.SanPham.Gia) VNĐ</p>
                                    <a href="" data-productid="@item.SanPham.MaSP" class="btn btn-danger btn-sm removewishlist" data-toggle="tooltip" title="" data-original-title="Xóa">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </figcaption>
                            </figure>
                        </div>
                    }
                }
            </div> <!-- row .//  -->

        </div> <!-- card-body.// -->
    </article>
</main>